html,
body {
    margin: 0;
    padding: 0;
    background-color: #808080;
}

canvas {
    display: block;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    border: 1px outset #000000;
    width: 120px;
    height: 2px;
    background: #C0C0C0;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    border: 1px outset #000000;
    background: #C0C0C0;
    cursor: pointer;
}

.label {
    color: #000000;
    font-family: 'PW Extended', sans-serif;
    font-size: 12px;
}

.reset-button {
    font-family: 'PW Extended', sans-serif;
    font-size: 10px;
    color: #000000;
    background-color: #C0C0C0;
    border: 1px outset #000000;
    padding: 2px 6px 2px 6px;
}

.reset-button:active {
    border-style: inset;
}